*.rsp
*.req
*.log
Build
_build/
blib/
etc/
inc/
*~
stored-version.pm
stored-version.sh
MANIFEST
MANIFEST.bak
META.yml
MYMETA.*
pkg/
root/static/assets/
.*.swp
.*.swo
*.bak
Makefile
Makefile.old
pams_www_local.pl
local/
root/static/js/*.min.js
root/static/js/*.gz
root/static/css/*.gz
root/static/css/*.min.css
pm_to_blib
.DS_Store
._*
